[submodule "hoyo-voice-extractor"]
	path = hoyo-voice-extractor
	url = https://github.com/simon300000/hoyo-voice-extractor.git
[submodule "GenshinData"]
	path = GenshinData
	url = https://gitlab.com/Dimbreath/AnimeGameData.git
